<section>
  <header class="candy-name text-left">
    {{name}}
  </header>
  <img src= {{url}} alt="candy image" class="rounded-border candy-image" />
  <footer class="candy-footer">
    <span class="price">${{price}}</span>
    <button {{action addToCart id}} class="btn-cart">add to cart</button>
  </footer>
</section>