body {
  font-family: Arial, Helvetica, sans-serif;
}

.ember-application {
  padding: 20px;
}

.cart-item-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.catalogue {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.rounded-border {
  border-radius: 100%;
}

.candy-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.candy-image {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.cart {
  background-color: azure;
  min-height: 200px;
}

.candy-item {
  border: 1px solid #cecece;
  padding: 10px;
}

th,
td {
  text-align: left;
}

.flex {
  display: flex;
}
